#!/bin/bash

alias claude="$HOME/.claude/local/claude"  # Double quotes for $HOME expansion
alias delete_merged_branches='git branch --merged | grep -Ev "(^\*|master|main|dev|skip_branch_name)" | xargs git branch -d'
alias vi='nvim'
alias vim='nvim'
alias gitcleanup='git switch master && git pull && git fetchp && delete_merged_branches'
alias lg='lazygit'
